body::-webkit-scrollbar { width: 0 !important }
.Myscroll::-webkit-scrollbar { width: 0 !important }
.Myscroll{
    width: 40vw;
    height: 82vh;
    overflow-y:scroll;
    background: #a3d8f4;
    border-radius: 20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.cartscroll::-webkit-scrollbar{width: 0!important;}
.cartscroll{
  border-radius: 20px;
  width: auto;
  height: 30vh;
  background: #a3d3f5;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.Hotels::-webkit-scrollbar{width: 0!important;}
.Hotels{
  border-radius:20px;
  background:#7579e7;
  width:auto;
  height:auto;
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
body{
  -ms-overflow-style:none;
  scrollbar-width: none;
}