body{
    background-color: linear-gradient(145deg, #949494,#ffffff) !important;
    font-family: 'Fredoka One', cursive;

}
.login{
    margin-left: 1400px;
    border-radius: 50px;
}
.button{
    margin-left: 750px;
}
.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding:4px;
    border-radius:20px
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  